#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 1200px;
    height: 800px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: var(--box-shadow);
    transition-duration: 1s;
  }
  
  #left, #right {
    margin: auto;
    width: 95%;
    height: 96%;
    border-radius: 10px;
  }
  
  #left {
    background-image: url("https://images.unsplash.com/photo-1615400014497-55726234cccb?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYxNzg4Njg0Ng&ixlib=rb-1.2.1&q=85");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
  }
  #welcome, #lorem {
    margin: 20px;
    text-shadow: var(--box-shadow);
  }
  #welcome {
    font-size: 75px;
    font-weight: 300;
    margin-top: 330px;
    text-shadow: var(--box-shadow);
  }
  
  #login {
    padding-top: 35%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: var(--box-shadow);
  }
  .client-info {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
  }
  .client-info:focus {
    width: 80%;
  }
  label {
    position: absolute;
    margin: -76px 130px;
      font-size: 12px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
  }
  #email:focus ~ label[for="email"] {
    margin: -76px 70px;
  }
  #password:focus ~ label[for="password"] {
    margin: -76px 70px;
  }
  #submit {
    border: none;
    background-color: #9055ff;
    color: white;
    width: 60%;
  }
  #submit:hover {
    background-color: #df98fa;
  }
  
  }