<%- include('../partials/header.ejs') %>
<main>
    <h1>Add New Products</h1>
    <form action="/products/new" method="POST" enctype="multipart/form-data" >
        <label for="name">Name of the product:</label><br>
        <input type="text" id="name" name="name" placeholder="Enter Product Name"><br>
        <label for="Qunatity">Quantity:</label><br>
        <input type="number" id="qty" name="Quantiy" placeholder="Enter Quantity"><br>
        <label for="Price">Enter Price:</label><br>
        <input type="number" id="price" name="price" placeholder="Enter Price"><br>
        <label for="image">Upload Product Image:</label><br>
        <input type="file"  name="cover_image" placeholder="Enter Product Image">
        <input type="submit" value="Submit">
    </form>
</main>