<%- include('./partials/header.ejs') %>
<main>
    <h2 class="green"> <%= message %> </h2>
    <h1>Welcome to Home Page</h1>
    <p class="red"><%= name %> logged-in</p>
    <a href="/users/logout">logout</a>
    <a href="/product/index"> Explore Products </a>
</main> 