<%- include('../partials/header.ejs') %>
<main>
    <form action="/users/login" method="POST" >
        <h2 class="red"><%= message %></h2>
        <label for="email">Email:</label><br>
        <input type="text" id="lname" name="email" placeholder="Enter your email"><br><br>
        <label for="password">Password:</label><br>
        <input type="password" id="lname" name="password" placeholder="Enter your password"><br>
        <input type="submit" value="Login">
    </form> 
</main>