<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="card-form">
        <form class="signup" action="/users/login" method="POST" >
        <div class="form-title">Login</div>
        <div class="form-body">
            <div>
                <% if ( error ) { %>
                    <p class="error"><%= error %></p>
                <% } %>
            </div>
            <div class="row">
            <input type="text" name="email" placeholder="Email Address*">
            </div>
            <div class="row">
            <input type="password" name="password" placeholder="Password*">
            </div>
        </div>
        <div class="rule"></div>
        <div class="form-footer">
            <a> <button type="submit"> Login </button> </a>
        </div>
        </form>
    </div>
</body>
</html>